<script src="http://localhost:3000/js/vendor/jquery.js"></script>
<form class="login">
                <p class="loginFeedback">Please login to proceed to the site</p>
                <div>
                  <label>Username or Email<br>
                  <input name="username" type="text"></label>
                </div>
                <div>
                  <label>Password<br>
                  <input name="password" type="password"></label>
                </div>
                <div>
                  <input type=submit value="Log in">
                  <a id="lostpass" href="{{root}}/forgot">Reset password</a>
                </div>
              </form>
<script type="text/javascript">
var jsbin = {{{jsbin}}};
</script>
<script src="http://localhost:3000/js/chrome/login.js"></script>